@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Gudrun heisst Sie herzlich Willkommen</h1>
    <p>Hier finden Sie alles, was Sie benötigen für den Unterricht</p>
    <img src="~/Pictures/Logo.png">
</div>





