@{
    ViewData["Title"] = "Unsere Datenschutzerklärung";
}
<h1>@ViewData["Title"]</h1>

<p>Wir versprechen einen respektvollen umgang mit Ihren Daten</p>
<p>1. Einleitung
    Die Gudrun pflegt eine geschäftliche Beziehung zu Ihnen und Ihrem Unternehmen und freut sich darauf, Sie auch in Zukunft mit Produkten, Dienstleistungen und Informationen bedienen zu dürfen.

    In dieser Datenschutzerklärung erläutern wir, die Gudrun (nachfolgend Mobatime genannt), wie Personendaten erhoben oder bearbeitet werden. Diese Erklärung ist keine abschliessende Beschreibung; allenfalls regeln andere Datenschutzerklärungen oder allgemeine Geschäftsbedingungen spezifische Sachverhalte.

    Wir legen Wert auf den Schutz Ihrer persönlichen Daten. Aus diesem Grund bearbeiten wir Personendaten nur in Übereinstimmung mit dem anwendbaren Datenschutzrecht, insbesondere dem Schweizerischen Bundesgesetz über den Datenschutz und, soweit relevant, der am 25. Mai 2018 wirksam gewordenen EU-Datenschutzgrundverordnung.
    <br><br>
    2. Datenschutzbeauftragter
    Mobatime ist sich der Wichtigkeit des Datenschutzes bewusst und setzt freiwillig einen Datenschutzbeauftragten ein. Er ist zugleich unser Vertreter im EWR nach Art. 27 DSGVO, sofern erforderlich. Verantwortlich für die Datenbearbeitungen, die wir hier beschreiben, ist Gudrun, Stettbachstrasse 5, 8600 Dübendorf, soweit im Einzelfall nichts anderes angegeben ist. Wenn Sie datenschutzrechtliche Anliegen haben, kontaktieren Sie unseren Datenschutzverantwortlichen (dataprotection@mobatime.ch), der Ihre Fragen gerne beantwortet.
    <br><br>
    3. Erhebung und Bearbeitung der Personendaten
    Personendaten sind Daten, die wir dazu verwenden können, Sie zu identifizieren und ermöglichen uns, mit Ihnen in Kontakt zu treten. Wir bearbeiten in erster Linie Personendaten, die wir im Rahmen unserer Geschäftsbeziehung mit unseren Kunden und Geschäftspartnern von diesen und weiteren daran beteiligten Personen erhalten oder die Sie uns freiwillig zukommen lassen. Soweit dies erlaubt ist, entnehmen wir auch öffentlich zugänglichen Quellen (bspw. Handelsregister, Presse, Internet, Grundbuch und Betreibungsregister) gewisse Daten oder erhalten solche von Behörden oder sonstigen Dritten. Zu den Personendaten, die wir bearbeiten, können Name, Vorname, Geschäfts-adresse, E-Mailadresse, Telefonnummer und Funktion von Ihnen wie auch Ihren Mitarbeitenden gehören.

    Nebst den Daten von Ihnen, die Sie uns direkt geben, sind die Kategorien von Personendaten, die wir von Dritten über Sie erhalten, insbesondere Angaben aus öffentlichen Registern, Angaben, die wir im Zusammenhang mit behördlichen und gerichtlichen Verfahren erfahren, Angaben im Zusammenhang mit ihren beruflichen Funktionen und Aktivitäten (damit wir z.B. mit Ihrer Hilfe Geschäfte mit Ihrem Arbeitgeber abschliessen und abwickeln können), Angaben über Sie in Korrespondenz und Besprechungen mit Dritten, Bonitätsauskünfte (soweit wir mit Ihnen persönlich Geschäfte abwickeln), Angaben über Sie, die uns Personen aus Ihrem Umfeld (Familie, Berater, Rechtsvertreter, etc.) geben, damit wir Verträge mit Ihnen oder unter Einbezug von Ihnen abschliessen oder abwickeln können (z.B. Referenzen, Ihre Adresse für Lieferungen, Vollmachten, Angaben zur Einhaltung gesetzlicher Vorgaben wie etwa der Geldwäschereibekämpfung und Exportrestriktionen), Angaben von Banken, Versicherungen, Vertriebs- und anderen Vertragspartnern von uns zur Inanspruchnahme oder Erbringung von Leistungen durch Sie (z.B. erfolgte Zahlungen, erfolgte Käufe), Angaben aus Medien und Internet zu Ihrer Person (soweit dies im konkreten Fall angezeigt ist, z.B. im Rahmen einer Bewerbung, Presseschau, Marketing/Verkauf, etc.), Ihre Adressen und ggf. Interessen und weitere soziodemographische Daten (für Marketing), Daten im Zusammenhang mit der Benutzung der Website (z.B. IP-Adresse, MAC-Adresse des Smartphones oder Computers, Angaben zu Ihrem Gerät und Einstellungen, Cookies, Datum und Zeit des Besuchs, abgerufene Seiten und Inhalte, benutzte Funktionen, verweisende Website, Standortangaben).
    <br><br>
    4. Zweck der Datenbearbeitung und Grundlage
    Mobatime verwendet die von ihr erhobenen Personendaten in erster Linie, um Verträge mit Ihnen und unseren Geschäftspartnern abschliessen und abwickeln zu können. Dazu gehört der Ein- und Verkauf von Produkten, Erbringung von Dienstleistungen und Wartung, sowie der Ausrichtung von Kursen.

    Darüber hinaus bearbeiten wir Personendaten von Ihnen und weiteren Personen, soweit erlaubt und es uns angezeigt erscheint, auch für folgende Zwecke:

    Angebot und Weiterentwicklung unserer Produkte, Dienstleistungen und Websites, Apps und weitere Plattformen, auf welchen wir präsent sind;
    Kommunikation mit Dritten und Bearbeitung derer Anfragen (z.B. Bewerbungen, Medienanfragen);
    Verfahren zur Bedarfsanalyse zwecks direkter Kundenansprache, sowie Erhebung von Personendaten aus öffentlich zugänglichen Quellen für die Kundenakquisition;
    Werbung und Marketing, soweit Sie der Nutzung Ihrer Daten nicht widersprochen haben;
    Geltendmachung rechtlicher Ansprüche und Verteidigung in Zusammenhang mit rechtlichen Streitigkeiten und behördlichen Verfahren;
    Verhinderung und Aufklärung von Straftaten und sonstigem Fehlverhalten (z.B. Durchführung interner Untersuchungen, Datenanalysen zur Betrugsbekämpfung);
    Gewährleistung unseres Betriebs, insbesondere der IT, des Gebäudes, des Fahrzeugparks, unserer Website und weiteren Plattformen;
    Kauf und Verkauf von Geschäftsbereichen, Gesellschaften oder Teilen von Gesellschaften und andere gesellschaftsrechtliche Transaktionen und damit verbunden die Übertragung von Personendaten sowie Massnahmen zur Geschäftssteuerung und soweit zur Einhaltung gesetzlicher und regulatorischer Verpflichtungen.
    Bei der Bearbeitung der Personendaten für die in dieser Erklärung beschriebenen Zwecke stützen wir uns unter anderem auf unser berechtigtes Interesse an der Aufrechterhaltung, dem Ausbau und der Verwaltung der Geschäftsbeziehung und der Kommunikation mit Ihnen als Geschäftspartner über unsere Produkte und Leistungen.

    Soweit Sie uns eine Einwilligung zur Bearbeitung Ihrer Personaldaten für bestimmte Zwecke erteilt haben (zum Beispiel durch Ihre Anfrage nach Produkten und Dienstleistungen von Mobatime, durch eine Bestellung usw.), bearbeiten wir Ihre Personen im Rahmen und gestützt auf diese Einwilligung, soweit wir keine andere Rechtsgrundlage haben und wir eine solche benötigen. Eine erteilte Einwilligung kann jederzeit widerrufen werden, was jedoch keine Auswirkung auf bereits erfolgte Datenbearbeitungen hat.
    <br><br>
    5. Cookies / Tracking und andere Technologien im Zusammenhang mit der Nutzung unserer Website
    Wir setzen auf unseren Websites typischerweise "Cookies" und vergleichbare Techniken ein, mit denen Ihr Browser oder Ihr Gerät identifiziert werden kann. Ein Cookie ist eine kleine Datei, die an Ihren Computer gesendet bzw. vom verwendeten Webbrowser automatisch auf Ihrem Computer oder mobilen Gerät gespeichert wird, wenn Sie unsere Website besuchen. Wenn Sie diese Website erneut aufrufen, können wir Sie so wiedererkennen, selbst wenn wir nicht wissen, wer Sie sind. Neben Cookies, die lediglich während einer Sitzung benutzt und nach Ihrem Website-Besuch gelöscht werden ("Session Cookies"), können Cookies auch benutzt werden, um Nutzereinstellungen und andere Informationen über eine bestimmte Zeit zu speichern ("permanente Cookies"). Sie können Ihren Browser jedoch so einstellen, dass er Cookies zurückweist, nur für eine Sitzung speichert oder sonst vorzeitig löscht. Die meisten Browser sind so voreingestellt, dass Sie Cookies akzeptieren. Wir nutzen permanente Cookies damit Sie Benutzer­einstellungen speichern (z.B. Sprache, Auto-Login), damit wir besser verstehen, wie Sie unsere Angebote und Inhalte nutzen. Gewisse der Cookies werden von uns gesetzt, gewisse auch von Vertragspartnern, mit denen wir zusammenarbeiten. Wenn Sie Cookies sperren, kann es sein, dass gewisse Funktionalitäten (wie z.B. Sprachwahl) nicht mehr funktionieren.

    Wir bauen in unseren Newslettern und sonstigen Marketing E-Mails teilweise und soweit erlaubt auch sicht- und unsichtbare Bildelemente ein, durch deren Abruf von unseren Servern wir feststellen können, ob und wann Sie die E-Mail geöffnet haben, damit wir auch hier messen und besser verstehen können, wie Sie unsere Angebote nutzen und sie auf Sie zuschneiden können. Sie können dies in Ihrem E-Mail-Programm blockieren; die meisten sind so voreingestellt, dass Sie dies tun.

    Mit der Nutzung unserer Websites und der Einwilligung in den Erhalt von Newslettern und anderen Marketing-E-Mails stimmen Sie dem Einsatz dieser Techniken zu. Wollen Sie dies nicht, dann müssen Sie Ihren Browser bzw. Ihr E-Mail-Programm entsprechend einstellen.
    <br><br>
    6. Datenweitergabe und Datenübermittlung
    Mobatime gibt im Rahmen der geschäftlichen Aktivitäten gemäss Ziffer 4, soweit erlaubt und es angezeigt erscheint, Personendaten auch Dritten bekannt, sofern es für die Abwicklung eines Geschäftsvorfalls notwendig ist. Es geht dabei um folgende Stellen, gemeinsam Empfänger genannt:

    Dienstleister von Mobatime (wie bspw. Banken, Versicherungen, IT-Providern, Installationsunternehmen, Spediteure usw.);
    Händler, Hersteller, Lieferanten, Subunternehmer und sonstige Geschäftspartner;
    In- und ausländische Behörden, Amtsstellen oder Gerichten;
    Anderen Parteien in möglichen oder tatsächlichen Rechtsverfahren;
    Weitere Gesellschaften der Mobatime Gruppe.
    Die Empfänger befinden sich im In- und Ausland. Sie müssen insbesondere mit der Übermittlung Ihrer Daten in alle Länder rechnen, in denen Hersteller, Lieferanten, Dienstleister oder Mobatime Gruppengesellschaften vertreten sind. Wenn Mobatime Daten in ein Land ohne angemessenen gesetzlichen Datenschutz übermittelt, sorgen wir mittels Einsatzes von entsprechenden Verträgen für ein ausreichendes Schutzniveau. Dabei stützen wir uns namentlich auf die sog. Standardvertragsklauseln der Europäischen Kommission, die hier, hier und hier abrufbar sind, oder sog. Binding Corporate Rules für ein angemessenes Schutzniveau oder stützen uns auf die gesetzlichen Ausnahmentatbestände der Einwilligung, der Vertragsabwicklung, der Feststellung, Ausübung oder Durchsetzung von Rechtsansprüchen, überwiegender öffentlicher Interessen, der veröffentlichten Personendaten oder weil es zum Schutz der Unversehrtheit der betroffenen Personen nötig ist.
    <br><br>
    7. Dauer der Aufbewahrung von Personendaten
    Mobatime verarbeitet und speichert Ihre Personendaten, solange es für die Erfüllung der vertraglichen und gesetzlichen Pflichten oder sonst die mit der Bearbeitung verfolgten Zwecke erforderlich ist, sowie darüber hinaus gemäss den gesetzlichen Aufbewahrungs- und Dokumentationspflichten. Dabei ist es möglich, dass Personendaten für die Zeit aufbewahrt werden, in der Ansprüche gegen unser Unternehmen geltend gemacht werden können und soweit wir anderweitig gesetzlich dazu verpflichtet sind oder berechtigte Geschäftsinteressen dies erfordern (z.B. für Beweis- und Dokumentationszwecke). Sobald Ihre Personendaten für die oben genannten Zwecke nicht mehr erforderlich sind, werden sie grundsätzlich und soweit möglich gelöscht oder anonymisiert.
    <br><br>
    8. Massnahmen zum Schutz Ihrer Daten
    Mobatime trifft angemessene technische und organisatorische Sicherheits­vorkehrungen zum Schutz Ihrer Personendaten vor unberechtigtem Zugriff und Missbrauch, wie etwa Zutrittskontrolle zum Gebäude, Netzwerksicherheit, Mitarbeiterschulung, Verschlüsselung von Datenträgern usw.
    Die Sicherheitsrichtlinien und -verfahren werden regelmässig überprüft, um die Wirksamkeit der technischen und operationellen Massnahmen feststellen zu können.
    <br><br>
    9. Rechte der betroffenen Person
    Sie haben im Rahmen des auf Sie anwendbaren Datenschutzrechts und soweit darin vorgesehen (wie etwa im Falle der DSGVO) das Recht auf Auskunft, Berichtigung, Löschung, das Recht auf Einschränkung der Datenbearbeitung und sonst dem Widerspruch gegen unsere Datenbearbeitungen sowie auf Herausgabe gewisser Personendaten zwecks Übertragung an eine andere Stelle (sog. Daten-Portabilität). Bitte beachten Sie aber, dass wir uns vorbehalten, unsererseits die gesetzlich vorgesehenen Einschränkungen geltend zu machen, etwa wenn wir zur Aufbewahrung oder Bearbeitung gewisser Daten verpflichtet sind, daran ein überwiegendes Interesse haben (soweit wir uns darauf berufen dürfen) oder sie für die Geltendmachung von Ansprüchen benötigen. Falls für Sie Kosten anfallen, werden wir Sie vorab informieren. Über die Möglichkeit, Ihre Einwilligung zu widerrufen, haben wir bereits in Ziff. 3 informiert. Beachten Sie, dass die Ausübung dieser Rechte im Konflikt zu vertraglichen Abmachungen stehen kann und dies Folgen wie z.B. die vorzeitige Vertragsauflösung oder Kostenfolgen haben kann. Wir werden Sie diesfalls vorgängig informieren, wo dies nicht bereits vertraglich geregelt ist.

    Die Ausübung solcher Rechte setzt in der Regel voraus, dass Sie Ihre Identität eindeutig nachweisen (z.B. durch eine Ausweiskopie, wo Ihre Identität sonst nicht klar ist bzw. verifiziert werden kann). Zur Geltendmachung Ihrer Rechte können Sie uns unter der in Ziffer 1 angegebenen Adresse kontaktieren.

    Jede betroffene Person hat überdies das Recht, ihre Ansprüche gerichtlich durchzusetzen oder bei der zuständigen Datenschutzbehörde eine Beschwerde einzureichen. Die zuständige Datenschutzbehörde der Schweiz ist der Eidgenössische Datenschutz- und Öffentlichkeitsbeauftragte (http://www.edoeb.admin.ch).
    <br><br>
    10. Vorgehen bei Datenschutzverletzung
    Stellt Mobatime eine Datenschutzverletzung fest, das heisst sensible Daten gehen verloren oder werden von nicht berechtigten Personen zugegriffen, verändert, verwendet oder anderswertig missbräuchlich verwendet, werden folgende Schritte eingeleitet:

    Schritt 1: Die Verletzung eindämmen und eine vorläufige Einschätzung durchführen.
    Schritt 2: Evaluierung des Risikos für Betroffene.
    Schritt 3: Benachrichtigung über Datenschutzverletzung gemäss den gesetzlichen Vorgaben so rasch als möglich.

    Weitere Schritte und Massnahmen werden gemäss Mobatime IKS Richtlinien eingeleitet.
    <br><br>
    11. Änderungen
    Wir können diese Datenschutzerklärung jederzeit ohne Vorankündigung anpassen. Es gilt die jeweils aktuelle, auf unserer Website publizierte Fassung. Soweit die Datenschutzerklärung Teil einer Vereinbarung mit Ihnen ist, werden wir Sie im Falle einer Aktualisierung über die Änderung per E-Mail oder auf andere geeignete Weise informieren.
</p>
