@model IEnumerable<GudrunDieSiebte.Models.Student>
@{
	ViewData["Title"] = "Note Hinzufügen";
}

<h1>@ViewData["Title"]</h1>
<div id="AddGradeView"></div>
<script src="~/js/addGrade.js" asp-append-version="true"></script>

