@model IEnumerable<GudrunDieSiebte.Models.Student>

@{
    ViewData["Title"] = "Notenverwaltung";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
<div class="sidebar">
    <div class="tree" id="treeGrade">
       
    </div>
</div>

<div id="gradeViews" class="content">

</div>

