@model IEnumerable<GudrunDieSiebte.Models.Student>

@{
    ViewData["Title"] = "Ihre Noten";
}

<h1>@ViewData["Title"]</h1>
<div class="tablediv">
    <table class="table table-hover">
        <thead class="text-light bg-dark">
        <td>Modul</td>
        <td>Noten</td>
        <td>Durchschnitt</td>
        <td>Punkte</td>
        <td>Bestätigt</td>
        <td></td>
        </thead>
        <tbody id="gradelist" class="text-light">
        </tbody>
    </table>
</div>



