@model IEnumerable<GudrunDieSiebte.Models.Student>

@{
    ViewData["Title"] = "Stundenplan";
}

<h1>@ViewData["Title"]</h1>

<div id='calendar'></div>
<script src='~/lib/fullcalendar/dist/index.global.js'></script>

